html {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  position: absolute;
}
h1 {
  color: white;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  margin-bottom: 46px;
  text-align: center;
  position: relative;
  display: block;
  font-size: x-large;
}

h1:hover {
  color: orange;
}

header {
  font-weight: bold;
  font-size: 20px;
}

header a {
  font-size: 20px;
  color: white;
  font-style: normal;
}

header a:hover {
  color: orange;
}

header a:active {
  background-color: black;
  color: white;
}

#navbar {
  position: fixed;
  background-color: black;
  max-width: 280px;
  min-height: 96vh;
  z-index: 1;
  padding: 12px;
  top: 8px;
  border-radius: 8px;
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  border: solid;
  border-color: white;
  background-color: black;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: 200;
}

.nav-link:hover {
  border-color: orange;
}

#main-doc {
  position: relative;
  margin-left: 310px;
  background-color: rgb(247, 236, 215);
  padding: 12px;
  border-radius: 12px;
  margin-right: 1px;
  padding-bottom: 2px;
  top: 1px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }

  #navbar {
    max-width: 150px;
    min-height: 96vh;
  }

  #main-doc {
    margin-left: 180px;
    margin-right: 0px;
  }

  h1 {
    font-weight: 200;
    font-size: 20px;
  }

}